.btn {
  @apply xs:w-full md:w-auto rounded-sm py-2 px-3 justify-center bg-brand text-light text-center;

  &.btn-primary {
    @apply bg-brand border-brand;
  }

  &.btn-secondary {
    @apply bg-tint border border-ui text-primary;
  }

  &.btn-link {
    @apply bg-transparent border-none text-brand;
  }

  &:disabled,
  &.btn-disabled {
    & > .spinner {
      @apply xs:h-8 h-6 animate-spin mx-auto;
    }
    @apply cursor-not-allowed bg-decorative;
  }
}

// TODO: Should i removed this as well?
.btn--small {
  @extend .btn;
  @apply py-1 px-2;
}

.hn-btn {
  @apply w-auto rounded-sm py-2 px-3 justify-center bg-brand text-light text-center cursor-pointer px-[25px] py-[13px] inline-block text-center leading-[24px] text-[16px] rounded;

  transition: all .3s cubic-bezier(.645,.045,.355,1);
  white-space: nowrap;
  outline: 0;

  &-primary {
    @apply bg-brand hover:bg-brand-600 hover:text-light;
  }

  &-secondary {
    @apply text-primary;
    background: $color-tint;
    border: 1px solid $color-ui;
    &:hover {
      background: hsla(0, 0%, 0%, 0.2);
    }
  }

  &--small {
    @apply py-2 px-2;
  }

  &-add-to-cart {
    @extend .hn-btn-primary;
    @apply bg-alertsuccess text-xs uppercase w-full hover:bg-alertsuccess-600;
  }
  
  &-find-in-store {
    @extend .hn-btn-secondary;
    @apply w-full text-xs uppercase;
    color: $color-primary;
    border: 1px solid $color-ui;
    background: $color-tint;
    &:hover {
      background: $color-tint-600;
    }
  }

  &-search,
  &-account {
    @extend .hn-btn-primary;
    @apply text-xs uppercase w-full hover:bg-alertsuccess-600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @if &-account {
      @apply text-sm;
    }
  }

  &-icon,
  &-close {
    @apply flex items-center leading-none;
    .hn-icons {
      width: auto;
      font-size: 24px;
      &--close {
        @apply font-bold;
      }
    }
    &-close {
      @extend .hn-btn-icon;
      @extend .btn--small;
      @apply font-bold;
    }
  }

  &--text {
    @apply px-2;
  }

  &-disabled {
    @apply text-light disabled;
    background: $color-ui;
    cursor: not-allowed;
    &:hover {
      background: $color-ui;
    }
  }

  &-checkout {
    @apply flex flex-col px-3 bg-white font-bold min-w-[230px] min-h-[105px] justify-start;
    border: 2px solid #E7E7E7;

    span:nth-child(1) {
      @apply mb-4 flex items-center;
      span {
        @apply flex items-center my-0 hidden;
        color: #52c41a;
      }
    }

    span:nth-child(2),
    span:nth-child(3) {
      @apply text-sm;
      &:nth-child(3) {
        color: #5F98C1;
      }
    }
    
    &--delivery {
      span:nth-child(1){
        @apply flex items-center;
      }
      
      .hn-btn--text {
        flex: 1;
      }
      .description {
        color: #BDC4C7;
      }
    }

    &--active,
    &:hover,
    &:active {
      @apply bg-white;
      border: 2px solid #52c41a;
      span:nth-child(1) {
        span {
          @apply flex;
        }
      }
    }
  }
}

.hn-gel-container{
  @apply flex rounded-lg border dark:border-white/10 p-4 my-5 justify-center flex justify-center space-x-2 items-end;
  &-250{
    max-width: 250px;
  }
}