.btn {
  @apply xs:w-full md:w-auto rounded-sm py-2 px-3 justify-center bg-brand text-light text-center;

  &.btn-primary {
    @apply bg-brand border-brand;
  }

  &.btn-secondary {
    @apply bg-tint border border-ui text-primary;
  }

  &.btn-link {
    @apply bg-transparent border-none text-brand;
  }

  &:disabled,
  &.btn-disabled {
    & > .spinner {
      @apply xs:h-8 h-6 animate-spin mx-auto;
    }
    @apply cursor-not-allowed bg-decorative;
  }
}

// TODO: Should i removed this as well?
.btn--small {
  @extend .btn;
  @apply py-1 px-2;
}

.hn-btn{
  @apply w-auto rounded-sm py-2 px-3 justify-center bg-brand text-light text-center cursor-pointer px-[25px] py-[13px] inline-block text-center leading-[24px] text-[16px] rounded;

  transition: all .3s cubic-bezier(.645,.045,.355,1);
  white-space: nowrap;
  outline: 0;

  &-primary {
    @apply bg-brand hover:bg-brand-600 hover:text-light;
  }

  &-secondary {
    @apply text-primary;
    background: $color-tint;
    border: 1px solid $color-ui;
    &:hover{
      background: rgba(0,0,0,0.2);

    }
  }

  &--small {
    padding: 10px 9px;
  }

  &-add-to-cart {
    @extend .hn-btn-primary;
    @apply bg-alertsuccess text-xs uppercase w-full hover:bg-alertsuccess-600;
  }
  
  &-find-in-store {
    @extend .hn-btn-secondary;
    @apply w-full text-xs uppercase;
    color: $color-primary;
    border: 1px solid $color-ui;
    background: $color-tint;
      &:hover{
        background: $color-tint-600;
      }
  }

  &-search {
    @apply bg-alertsuccess hover:bg-alertsuccess-400 h-11 text-light-100 font-bold xs:w-[6.5rem] sm:w-[6.5rem] md:w-[7.5rem] lg:w-[7.5rem] xl:w-[7.5rem] rounded-r-lg text-[0.875rem] inline-flex justify-center items-center;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  &-signin {
    @apply btn rounded uppercase text-sm uppercase;
  }

  &-register {
    @apply bg-brand border-brand;
  }

  &-browse-all-categories {
    @apply bg-brand border-brand;
  }

  &-browse-all-categories {
    @apply bg-brand;
  }

  &-proceed-to-checkout {
    @apply bg-brand;
  }

  &-submit {
    @apply bg-brand;
  }

  &-with-icon {
    @apply bg-brand;
  }

  &-outline {
    @apply bg-brand;
  }


}

.hn-gel-container{
  @apply flex rounded-lg border dark:border-white/10 p-4 my-5 justify-center flex justify-center space-x-2 items-end;
  &-250{
    max-width: 250px;
  }
}