@import './variables';
@import './vendors/tailwind';
@import './functions';
@import './mixins';
@import './fonts';

@layer base {
  @import '@hndigital/common/root';

  :root {
    // TODO: Better form variable structure
    --form-input-regular-padding: #{$form-input-regular-padding};
    --form-input-regular-min-width: #{$form-input-regular-min-width};
    --form-input-small-height: #{$form-input-small-height};
    --form-input-small-padding: #{$form-input-small-padding};
    --form-checkbox-small-height: #{$form-checkbox-small-height};
    --form-checkbox-regular-height: #{$form-checkbox-regular-height};
  }

  html {
    font-family: 'lato-regular';
  }
}

@layer components {
  @import './buttons';
  @import './forms';
  @import './grid';
  @import './icons';
  @import './modal';
}
