@import '../../common/variables';
// TODO: This should be configurable from core
$form-input-regular-padding: 1.0625em 0.8125em;// 17px 13px;
$form-input-regular-min-width: 21.4em;//343px
$form-input-small-height: 2.75em; // 44px
$form-input-small-padding: 0.625em 0.56em; //10px 9px;
$form-checkbox-small-height: 0.875em;//14px;