@import '../../common/variables';
// TODO: This should be configurable from core
$form-input-regular-padding: 1.0625em 0.8125em;
$form-input-regular-min-width: 21.4em;
$form-input-small-height: 2.75em;
$form-input-small-padding: 0.625em 0.56em;
$form-checkbox-small-height: 0.875em;