:root {
  --fontsize-xs: #{$fontsize-xs};
  --fontsize-lineheight-xs: #{$fontsize-lineheight-xs};

  --fontsize-sm: #{$fontsize-sm};
  --fontsize-lineheight-sm: #{$fontsize-lineheight-sm};

  --fontsize-base: #{$fontsize-base};
  --fontsize-lineheight-base: #{$fontsize-lineheight-base};

  --fontsize-lg: #{$fontsize-lg};
  --fontsize-lineheight-lg: #{$fontsize-lineheight-lg};

  --fontsize-lg: #{$fontsize-lg};
  --fontsize-lineheight-lg: #{$fontsize-lineheight-lg};

  @each $presetName, $presetValue in $color-presets {
    @each $color, $value in map-get($colorset, #{$presetValue}) {
      @if $color == 'default' {
        --color-#{$presetValue}: #{$value};
      } @else {
        --color-#{$presetValue}-#{$color}: #{$value};
      }
    }
  }

  // TODO: Better form variable structure
  --form-input-regular-padding: #{$form-input-regular-padding};
  --form-input-regular-min-width: #{$form-input-regular-min-width};
  --form-input-small-height: #{$form-input-small-height};
  --form-input-small-padding: #{$form-input-small-padding};
  --form-checkbox-small-height: #{$form-checkbox-small-height};
}
