@use './../mixins' as mixins;

.form-input {
  @include mixins.form-state($form-field-states);
  @apply block border text-primary placeholder-secondary focus:shadow-xl;
  padding: var(--form-input-regular-padding);
  min-width: var(--form-input-regular-min-width)
}

.form-input--small {
  @extend .form-input;
  padding: var(--form-input-small-padding);
  height: var(--form-input-small-height);
}