@use './../mixins' as mixins;

.form-select {
  @include mixins.form-state($form-field-states);
  @apply block border text-primary placeholder-secondary focus:shadow-xl;
  padding: var(--form-input-regular-padding);
  min-width: var(--form-input-regular-min-width);

  & > option.disabled {
    @apply text-decorative
  }
}

.form-select--small {
  @extend .form-select;
  padding: var(--form-input-small-padding);
  height: var(--form-input-small-height);
}

// TODO: Need to fix styling colors for smart input, this doesnt work
input[type=text].form-input--smart {
  @extend .form-input;
  @apply placeholder-transparent active:border-primary;
  @apply active:border-alertinteractive focus:border-alertinteractive border-primary;
}

input[type=text].form-input--smart:active,
input[type=text].form-input--smart:focus {
  @apply border-[--color-interactive]; 
}

