@use './../mixins' as mixins;

label {
  @apply text-primary;
}

@include mixins.form-label($form-type-selectors-small){
  @apply text-sm;
}

@include mixins.form-label-state($form-type-selectors, 'disabled'){
  @apply text-decorative;
}

label:has(~ .form-input--smart){
  @apply absolute mt-[12px] ml-[18px] transition-all ease-in duration-[0.15];
}

label:has(~ .form-input--smart:not(:placeholder-shown)),
label:has(~ .form-input--smart:active),
label:has(~ .form-input--smart:focus) {
  @apply mt-1 text-xs;
}